/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Poppins:wght@400;500;700&family=Public+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

img {
  width: 25px;
}

.wrapper {
  max-width: 700px;
  background: #fff;
  border-radius: 8px;
  margin: 135px auto;
  padding: 28px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title h1 {
  color: #9a9ca2;
}

.task-input {
  height: 52px;
  position: relative;
}

.task-input input {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 53px;
  font-size: 19px;
  border-radius: 6px;
  border: none;
}

.task-input input::placeholder {
  color: #b9b9b9;
  font-style: italic;
  font-weight: 300;
}

.task-input .bars {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}

.task-input .enter {
  position: absolute;
  top: 50%;
  transform: translate(-27px, -50%);
  width: 15px;
}

.task-box {
  margin: 20px 0;
}

.task-box .task {
  list-style: none;
  font-size: 18px;
  margin-bottom: 18px;
  margin-bottom: 16px;
}

.task-box .task:last-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 18px;
}

.task label {
  display: flex;
}

label p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.task label input {
  margin-top: 6px;
  margin-right: 12px;
  width: 16px;
  height: 16px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  width: 100%;
  color: #a3a3a3;
  padding: 8px;
  cursor: pointer;
  background: #f6f6f6;
  border: none;
  font-size: 18px;
}
